@charset "UTF-8";


.inner {
  width: 1100px;
  margin: 0 auto;
}

body {
  font-family: 'Raleway','Lato',sans-serif;
}

/* headerのｃｓｓ */

.header {
  position: fixed;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  top: 0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  
}

.fa-bolt {
  font-size: 30px;
}

.header__button {
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.header__button:hover {
  color: #333;
}

/*main*/

.Bolt-Theme {
  margin-top: 70px;
  width: 100%;
  background-color: #f2f2f2;
}

.Bolt-Theme__content {
  text-align: center;
  padding: 250px 0 250px 0;
}
.Bolt-Theme__text {
  font-size: 90px;
  font-weight: 700px;
  color: #74cfae;
}

.Bolt-Theme__text-bottom {
  font-size: 30px;
  color: #c0c0c0;
  padding-top: 20px;
}

/*WHAT WE CAN DO*/


.WHAT-WE-CAN-DO {
  width: 100%;
  background-color: #74cfae;
}

.WHAT-WE-CAN-DO__box {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.WHAT-WE-CAN-DO__content {
  color: #FFF;
  width: 690px;
  text-align:center;
}

.WHAT-WE-CAN-DO__text {
  font-size: 24px;
}

.WHAT-WE-CAN-DO__comment {
  font-size: 20px;
  line-height: 22px;
  margin-top: 35px;
  word-break: break-all;
}

/*work*/

.work {
  background-color: #f2f2f2;
  width: 100%;
}


.work__title {
  font-size: 24px;
  text-align: center;
}

.work__inner {
  padding: 60px 0 70px 0;
}

.work__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.work__box__item {
  margin: 80px 0 0 100px;
  opacity: 0.7;
  transition: all 0.3s;
}

.work__box__item:hover {
  opacity: 1;
}

.work__box__item:nth-child(3n+1),
.work__box__item:nth-child(1) {
  margin-left: 0;
}

.work__box__item:nth-child(1),
.work__box__item:nth-child(2),
.work__box__item:nth-child(3) {
  margin-top: 40px;
}



.work__content {
  display: flex;
  margin-top: 90px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.work__text {
  width: 530px;
}

.work__button {
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.work__button:hover {
  color: #333;
}

/*SKILLS*/

.SKILLS {
  background-color: #4e4e4e;
  width: 100%;
  padding: 70px 0 100px 0;
}

.SKILLS__title {
  text-align: center;
  color: #FFF;
  font-size: 20px;
}

.SKILLS__box {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.SKILLS__item {
  margin-left: 180px;
}


.SKILLS__item:first-child{
  margin-left: 0;
}


.SKILLS__item__text {
  font-size: 16px;
  text-align: center;
  color: #FFF;
  margin-top: 10px;
}

/* SNS__box*/


.SNS__box {
  width: 100%;
  background-color: #f2f2f2;
}

.SNS__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.SNS__item {
  width: 185px;
  font-size: 3em;
  color: #74cfae;
  text-align: center;
  line-height: 100px;
  transition: all 0.3;
}

.SNS__item:hover {
  background-color: #FFF;
}

/* footer*/

.footer {
  background-color: #74cfae;
  width: 100%;
}

.footer__content {
  padding: 20px 0 25px 0;
  margin-right: 200px;
  font-size: 14px;
}

.footer__text {
  color: #FFF;
  text-align: right;
}